<div class="head">
  <h1>Curl Me Crazy Salon</h1>
</div>

<div class="stylist-new">
  <a href="/stylists/new">Create New Stylist</a>
</div>

<div class="stylists-link">
  <a href="/stylists">View All Stylists</a>
</div>
