<h1>Add a New Stylist</h1>
<div class="">
  <form action="/stylists" method="post">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn-primary">Add</button>
    </div>

  </form>
</div>
